body{
    font-family: REM, sans-serif;
    margin: 0;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 6em;
    align-items: center;
    background-color: #caecf8;
    position: relative;
}
.navbar-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
.downBtn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     gap: 2px;
    background-color: rgb(234,88,12);
    color: white;
    border-radius: 15px;
    padding: 10px 25px;
}
#dwnicon{
    mix-blend-mode: multiply;
    
}
.downBtn:hover{
    background-color: #e47239;
}
h1 > span{
    color: rgb(234,88,12);
} 
.navbar-links > a{
    text-decoration: none;
    font-size:medium;
    color: black;
}
#home{
    color:rgb(234,88,12) ;
}
.navbar-links > a:hover{
    color: rgb(234,88,12);
}
.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #8edefb;
    padding: 3em 0 8em 0;
}
.ProfileInfo{
    width: 36%;
}
.profileimg{
    width: 36%;
}
.ProfileInfo > h1{
    font-size: 2em;
}
#para1{
    font-size: 20px;
}
.inp{
    background-color: #80b8ca;
    padding: 10px 5px;
    border-radius: 10px;
}
.inp > input{
    width: 77%;
    background-color: #80b8ca;
    padding: 15px;
    border: none;
    outline: none;
}
.inp > span{
    color: white;
    background-color:#e95c15 ;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 0;
}
.inp > span:hover{
    background-color: #e47239;
    cursor: pointer;
}
#para2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color:#e95c15 ;
    width: 25%;
    border-radius: 10px;
    color: white;
    margin: 45px 0;
}
#para2 > img{
    mix-blend-mode: multiply;
}
#para2:hover{
    background-color: #e47239;
    cursor: pointer;
}
.choose{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 8em 0;
}
#chooseimg{
    width: 40%;
    border-radius: 10px;
}
.ChooseInfo{
    width: 40%;
}
.ChooseInfo > span{
    color: #e95c15;
    background-color:#f6d2b9;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #e95c15;
}
.ChooseInfo > h1{
    font-size: 2.5em;
}
#para3{
    font-size: 17px;
}
li{
    font-size: 20px;
    padding: 10px 0;
}
li::marker{
    color:#e95c15;
}
#para4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color:white ;
    width: 25%;
    border-radius: 10px;
    margin: 15px 20px;
}
#para4 > img{
 mix-blend-mode: multiply;
}
#para4:hover{
    background-color:#e95c15;
    cursor: pointer;
}
.ourServices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center; 
    padding: 2em 32%;
}
.ourServices > span{
    color: #e95c15;
    background-color:#f6d2b9;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #e95c15;
}
.ourServices > h1{
    font-size: 2.5em;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.card{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1em;
    margin: 2em 2em ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15),0 12px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 25%;
    padding: 3em 0.5em;
}
.number {
    margin: 23px 20px;
    padding: 10px 15px;
    color:white;
    background-color: black;
    border-radius: 5px;
}
.faq{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8em 0 3em 0;
}
.faq > span{
    color: #e95c15;
    background-color:#f6d2b9;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #e95c15;
}
.Questions-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.questions{
    width: 40%;
}
.image1{
    width: 40%;
}
.q{
    padding: 10px 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15),0 12px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 15px 0;
}
.Contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7em 29.1% 1em 29.1%;
}
.Contact > span{
    color: #e95c15;
    background-color:#f6d2b9;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #e95c15;
}
.ContactForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1em 3em;
    align-items: center;
    width: 93%;
}
.form1{
    width: 60%;
    padding: 2em 2em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15),0 12px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#name{
    width: 100%;
    padding: 8px 13px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(236, 232, 223);
}
#email{
    width: 100%;
    padding: 8px 13px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(236, 232, 223);
}
.abc{
    display: flex;
    gap: 50px;
    width: 100%;
}
.def{
    width: 45%;
}
.email{
    width: 45%;
}
#subject{
    width: 97%;
    padding: 8px 13px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(236, 232, 223);
}
.sub{
    margin: 20px 0;
}
#message{
    width: 97%;
    padding: 8px 13px;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid rgb(236, 232, 223);
}
.msg{
    margin: 20px 0;
}
#btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(234,88,12);
    color: white;
    border-radius: 15px;
    padding: 10px 25px;
    width: 15.4%;
}
#btn:hover{
    background-color: #e47239;
}
