*{
    margin: 0;
}
h1{
    text-align: center;
    background-color: blue;
    color: yellow;
    padding: 20px;
}
.cards{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}
.card > img{
   width: 100%;
   border-radius: 5px;
}
.card > p{
    color: rgb(254, 3, 3);
}
.card{
    width: 15%;
    padding: 15px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add{
    display: flex;
    justify-content: space-between;
}
#btn{
    padding: 3px 8px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}
#btn:hover{
    background-color: orange;
}