html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    font-family:Verdana, sans-serif; 
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navtitle > a{
    padding: 0.5rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #000 !important;
}
.navtitle > a:hover{
    color: #000 !important;
    background-color: #b3aeae !important;
    border-radius: 0.5rem;
}
.navlinks{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navlinks > a{
    padding: 0.5rem 1.2rem;
    display: flex;
    /* gap: 1rem; */
    text-decoration: none;
    color: #000 !important;
}
.navlinks > a:hover{
    color: #000 !important;
    background-color: #b3aeae !important;
    border-radius: 0.5rem;
}
@media (max-width: 580px){
    .navbar{
        padding: 0 15px;
    }
    .navtitle{
        gap:10px;
    }
    /* .navtitle >  */
    .navlinks{
        display: none;
    }
    #stext{
        display: none;
    }
    .landingImg > h1{
        padding: 1.5px;
    }
}
.landingImg{
    width: 100%;
    padding: 0 0.5vw;
    position: relative;
}
.landingImg > img{
    width: 100%;
}
.landingImg > h1 > span > b{
    background-color: #27282a;
    color: white;
    padding: 0.7rem 1rem;
}
.landingImg > h1{
    position: absolute;
    top: 40%;
    left: 43%;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 1.7rem;
    gap: 1rem;
}
.item{
    position: relative;
    width: 100%;
}
.item > img{
    width: 100%;
} 
.item > span{
    background-color: black;
    color: #fff;
    padding: 0.4rem 0.8rem;
    position: absolute;
    left: 0;
}
@media (max-width:450px){
    .container{
        grid-template-columns: 1fr;
    }
}
@media (min-width:450px) and (max-width:968px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1570px){
    .landingImg {
        display: flex;
        justify-content: center;
    }
    .landingImg > img{
        width: 1500px;
    }
    .abc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 1500px;
    }
    .sideHeading{
        display: flex;
        justify-content: center;
    }
    .sideHeading > p{
        width: 1500px;
    }
}